#timer {
    font-size: 48px;
    text-align: center;
}

#input-container {
    text-align: center;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #f3ca20;
    border: none;
    cursor: pointer;
}